/*GLobal*/

:root {
    --transition: 250ms ease-in-out;
  }

* {
    font-family: 'Inter';
    color: rgba(255, 255, 255, 1);
}

body {
    background-color: hsl(350, 100%, 88%);
    margin: 0;
    line-height: 1.56;
    padding-bottom: 25rem;
}

html,
body {
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


/* Nav Bar */
header {
    background-color: rgba(241, 177, 188, 1);
}

.header {
    position: relative;
    z-index: 1;
    margin-block-start: 20px;
  }
  
  .header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px 25px;
  }
  
  .header__home {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
    line-height: 1;
    text-decoration: none;
    flex: 1 0 100%;
  }
  
  .header__social > svg > path {
    transition: fill var(--transition);
  }
  
  .header__social:hover > svg > path {
    fill: black;
  }
  
  @media (min-width: 37.5em) {
    .header {
      margin-block-start: 30px;
      /* margin-block-end: 90px; */
    }
  
    .header__nav {
      justify-content: flex-start;
      align-items: center;
      text-align: left;
      gap: 32px;
    }
  
    .header__home {
      flex: 0 1 auto;
      margin-inline-end: auto;
    }
  }
  
  @media (min-width: 62.5em) {
    .header {
      margin-block-start: 40px;
      margin-block-end: 127px;
    }
  
    .header__nav {
      padding-right: 30px;
    }
  }

  /* Images */

img {
    width: 40%;
    height: auto;
    border-radius: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }


  /* Hero */
  h1 {
    text-align: center;
}

.resume {
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 1%;
}
a:hover {
  color: black;
}

