/*GLobal*/

:root {
    --transition: 250ms ease-in-out;
  }

* {
    font-family: 'Inter';
    background-color: hsl(350, 100%, 88%);
    color: rgba(255, 255, 255, 1);
}

/* Nav Bar */
nav, .header__social, .header__social:hover {
    flex-wrap: wrap;
    justify-content: right;
    gap: 20px 25px;
    padding: 5%;
    background-color: rgba(241, 177, 188, 1);
  }

img {
    width: 40%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .header__social > svg > path {
    transition: fill var(--transition);
  }

  .header__social:hover > svg > path {
    fill: black;
  }

  .header__home {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    flex: 1 0 100%;
    background-color: rgba(241, 177, 188, 1);
  }

  /* Hero */
  h1 {
    text-align: center;
}

